Daily Job Aggregator with AI Personalization.json
{
  "name": "Daily Job Aggregator with AI Personalization",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "5a0c6064-8e0d-4c4b-9206-317aeadeac27",
      "name": "Daily at 10:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/actor-tasks/uGVZuEpeH3pjk8WdY/run-sync-get-dataset-items?token=apify_api_1Zz99g0taievQEulipQNL9BKMoKRY92iCicG",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "Pakistan"
            },
            {
              "name": "remote",
              "value": "true"
            },
            {
              "name": "keywords",
              "value": "n8n automation workflow"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9c15b8b4-1ab9-4004-b0fa-176c64e9c459",
      "name": "Scrape LinkedIn Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "company",
              "value": "={{ $json.companyName ?? $json.employer?.name ?? \"Unknown\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "location",
              "value": "={{ typeof $json.location === \"string\" ? $json.location : $json.location?.city ?? \"Unknown\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "link",
              "value": "={{ $json.jobUrl ?? $json.url ?? $json.jdURL ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "description",
              "value": "={{ $json.description ?? $json.jobDescription ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "source",
              "value": "={{ $json.jobUrl && $json.companyName ? \"LinkedIn\" : ($json.url && $json.employer ? \"Indeed\" : \"Naukri\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "07ec373f-e5c0-4baa-92db-2a1b28fc38a3",
      "name": "Normalize Job Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/actor-tasks/qJLEgwsvE0Fsakkj5/run-sync-get-dataset-items?token=apify_api_1Zz99g0taievQEulipQNL9BKMoKRY92iCicG",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "Pakistan"
            },
            {
              "name": "remote",
              "value": "true"
            },
            {
              "name": "keywords",
              "value": "automation api integration"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "aa08659e-ea60-4714-a171-201c80ff9969",
      "name": "Scrape Indeed Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        400
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/actor-tasks/VJTwvx5VeVGKpsdgq/run-sync-get-dataset-items?token=apify_api_1Zz99g0taievQEulipQNL9BKMoKRY92iCicG",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "Pakistan"
            },
            {
              "name": "keywords",
              "value": "workflow automation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "dd09bb4c-4851-46b4-a280-95a2b21b7119",
      "name": "Scrape Naukri Portal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        592
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "id": "7b4f5803-38ac-43d3-b819-4a9caba8616e",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "score",
              "value": "={{ (() => {\n  const keywords = [\"n8n\", \"make.com\", \"automation\", \"workflow\", \"api\"];\n  const text = ($json.title + \" \" + $json.description).toLowerCase();\n  let score = 0;\n  keywords.forEach(k => { if (text.includes(k)) score += 2; });\n  if (text.includes(\"remote\")) score += 3;\n  if (text.includes(\"lahore\") || text.includes(\"pakistan\")) score += 2;\n  return score;\n})() }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6e0b7480-c5a3-41c3-8fe3-b03b94f50265",
      "name": "Score Job Relevance",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "rightValue": 5,
              "id": "5b4a754d-91b7-4c34-b63a-0f40c59b0fb1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a69bb8b3-224c-4b7c-9a49-1c12e9315133",
      "name": "Filter Score >= 5",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "wr68seZLBXji8CGy",
          "mode": "list",
          "cachedResultName": "Store in Data Table",
          "cachedResultUrl": "/projects/k5qGkse6SLQkpnwe/datatables/wr68seZLBXji8CGy"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $json.link }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "link": "={{ $json.link }}",
            "description": "={{ $json.description }}",
            "source": "={{ $json.source }}",
            "score": "={{ $json.score }}"
          }
        },
        "options": {}
      },
      "id": "da5312af-15e5-49a1-939e-492504685049",
      "name": "Store in Data Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1584,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "24dc241e-9f3e-4b7d-bb70-47a86e05d4f3",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1888,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZY04TlkT83AycB43",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a job applicant.\n\nJob Title: {{ $json.title }}\nCompany: {{ $json.company }}\n\nWrite a short, confident, non-generic cold message to recruiter.\nMention:\n- Experience in n8n, Make.com\n- Automation workflows\n- APIs and integrations\n\nKeep it under 80 words.\nMake it sound human, not AI.",
        "options": {
          "systemMessage": "You are a professional job applicant writing personalized messages to recruiters."
        }
      },
      "id": "920f2c29-6037-444c-aefc-fb368f839921",
      "name": "Generate Recruiter Message",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1808,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 10:00 AM": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Indeed Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Naukri Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Normalize Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Job Data": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Indeed Jobs": {
      "main": [
        [
          {
            "node": "Normalize Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Naukri Portal": {
      "main": [
        [
          {
            "node": "Normalize Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Score Job Relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Job Relevance": {
      "main": [
        [
          {
            "node": "Filter Score >= 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Score >= 5": {
      "main": [
        [
          {
            "node": "Store in Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Data Table": {
      "main": [
        [
          {
            "node": "Generate Recruiter Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recruiter Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2fc46b0f-7d42-451d-82a3-3f1b46f3ac66",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d05efb66ef131f635f32e36953a04d58b40d4bf40dcc2c5e370bd5815cae6f5"
  },
  "id": "DHqtgrgdPZb81ybI",
  "tags": []
}